body {
    min-width: 100vh;
}

.navbar {
    box-shadow: 0 4px 4px rgb(0 0 0 / 25%);
}

.a-unstyled {
    text-decoration: none;
    color: white;
}

.a-unstyled:hover {
    color: #23364b;
}

.logo-btn:active {
    opacity: 0.8;
}