body {
    min-width: 100vh;
}

.navbar {
    box-shadow: 0 4px 4px rgb(0 0 0 / 25%);
}

.a-unstyled {
    text-decoration: none;
    color: white;
}

.a-unstyled:hover {
    color: #23364b;
}

.logo-btn:active {
    opacity: 0.8;
}

.button-login{
    width: 90%; 
    height: 30%; 
    background-color: #15aa36;
}

.button-login:hover {
    background-color: #2a4560 !important;
}

.button-register{
    width: 90%; 
    height: 20%; 
    background-color: #2a4560;
}

.button-register:hover {
    background-color: #15aa36 !important;
}

.outline-active-0:focus {
    outline: none;}