{% extends 'layout2.html' %} {% load static %} {% block main %}
<div class="d-none d-md-flex col-md-6 align-items-center">
  <div id="registerImage" class="left-image"></div>
</div>
<div class="col-sm-12 col-md-6 d-flex align-items-center" id="first-form">
  <div class="container text-center d-table">
    <h1 class="h1 fw-bold lh-base" style="color: #2a4560">Creá tu cuenta</h1>
    <p class="fs-6 text-primary-emphasis">
      Ingresá tus datos personales para<br />activar tu cuenta
    </p>
    <h4 class="h4 fw-bold lh-base mb-3" style="color: #2a4560">
      Datos personales
    </h4>
    <div class="row">
      <form class="col-sm-12 col-lg-9 mx-auto" method="post">
        <div class="form-floating mb-4">
          <input
            type="text"
            class="form-control rounded-pill border-black"
            id="registerName"
            name="registerName"
            placeholder=""
            required
          />
          <label class="fs-5" for="registerName">Nombre</label>
        </div>
        <div class="form-floating mb-4">
          <input
            type="text"
            class="form-control rounded-pill border-black"
            id="registerSurname"
            name="registerSurname"
            placeholder=""
            required
          />
          <label class="fs-5" for="registerSurname">Apellido</label>
        </div>
        <div class="form-floating mb-4">
          <input
            type="email"
            class="form-control rounded-pill border-black"
            id="registerEmail"
            name="registerEmail"
            placeholder=""
            required
          />
          <label class="fs-5" for="registerEmail">Email</label>
        </div>
        <div class="mb-3 row flex-nowrap">
          <div class="d-flex col-6 col-md-5 pe-0" id="callingCodeSelector">
            <div class="btn-group dropup">
              <button
                id="flag"
                type="button"
                disabled
                class="ps-3 bg-white outline-active-0 rounded-5 rounded-end-0 border-end-0 border-1 border-black"
              >
                <img
                  src="{% static 'img/phone_country.svg' %}"
                  alt="International"
                  width="25"
                />
              </button>
              <button
                type="button"
                class="bg-white outline-active-0 border-start-0 border-end-0 border-1 border-black dropdown-toggle dropdown-toggle-split"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                <span class="visually-hidden">Toggle Dropdown</span>
              </button>
              <ul
                class="dropdown-menu"
                style="max-height: 30vw; overflow-y: auto"
                id="Dropdown"
              ></ul>
            </div>
            <select
              id="callingCode"
              name="callingCode"
              class="form-select outline-active-0 rounded-5 rounded-start-0 border-start-0 border-1 border-black w-75 ps-0"
            ></select>
          </div>
          <div class="form-floating col-6 col-md-7">
            <input
              type="text"
              class="form-control rounded-pill border-black"
              id="registerPhone"
              name="registerPhone"
              placeholder=""
              required
            />
            <label class="fs-5 ms-3" for="registerPhone">Telefono</label>
          </div>
        </div>
        <button
          id="continue-btn"
          class="rounded-pill fw-bold button-register text-light border-0 mt-3 fs-5 py-3 w-75"
          type="submit"
        >
          Continuar
        </button>
      </form>
    </div>
  </div>
</div>
<div class="col-sm-12 col-md-6 text-center my-auto p-4 d-none" id="second-form">
  <div
    class="text-primary-emphasis w-25 pt-2"
    style="cursor: pointer"
    id="goBack"
  >
    <span
      ><img src="{% static 'img/arrow-left.svg' %}" alt="Volver" width="10"
    /></span>
    Volver
  </div>
  <h1 class="h1 fw-bold lh-base" style="color: #2a4560">
    Creá una<br />contraseña
  </h1>
  <p class="fs-6 text-secondary">
    Escribí una nueva contraseña para tu<br />usuario
  </p>
  <h3 class="h3 mb-3">Datos Personales</h3>
  <div class="row">
    <form class="col-sm-12 col-lg-9 mx-auto" method="post">
      {% csrf_token %}
      <div class="form-floating mb-4 input-group">
        <input
          type="password"
          class="form-control rounded-pill border-black border-1 z-0"
          id="registerPassword"
          name="registerPassword"
          placeholder=""
          required
          pattern="^(?=.*[A-Z])(?=.*\d).{8,}$"
        />
        <label class="fs-5 z-1" for="registerPassword">Contraseña</label>
        <span class="align-self-center z-2 eye-btn"
          ><img src="{% static 'img/eye.svg' %}" alt="Ojo abierto" width="20"
        /></span>
      </div>
      <div class="form-floating mb-4 input-group">
        <input
          type="password"
          class="form-control rounded-pill border-black border-1 z-0"
          id="registerPassword2"
          name="registerPassword2"
          placeholder=""
          required
          autocomplete="off"
        />
        <label class="fs-5 z-1" for="registerPassword2"
          >Repetir contraseña</label
        >
        <span class="align-self-center z-2 eye-btn"
          ><img src="{% static 'img/eye.svg' %}" alt="Ojo abierto" width="20"
        /></span>
      </div>
      <p class="fs-6 text-secondary">La contraseña debe contener</p>
      <p class="fs-6 text-danger">
        8 caracteres como mínimo<br />Una letra mayúscula<br />Un número
      </p>
      <button
        id="submitRegistration"
        class="rounded-pill fw-bold button-register text-light border-0 mt-3 fs-5 py-3 w-75"
        type="submit"
      >
        Continuar
      </button>
    </form>
  </div>
</div>
{% endblock %} {% block moreJS %}
<!-- Get all caountries names in spanish, order them alphabetically and make them dropdown items -->
<script>
  document.addEventListener("DOMContentLoaded", function () {
    function addDropdownItem(text) {
      $("#Dropdown").append(
        '<li><button class="dropdown-item">' + text + "</button></li>"
      );
    }

    fetch("https://restcountries.com/v3.1/all")
      .then((response) => response.json())
      .then((data) => {
        const countryNames = data.map(
          (country) => country.translations.spa.common
        );
        // Sort the country names alphabetically
        countryNames.sort();

        for (var i = 0; i < countryNames.length; i++) {
          addDropdownItem(countryNames[i]);
        }
      })
      .catch((error) => console.error("Error:", error));
  });
</script>

<!-- When a country from the dropdown is selected, display their flag and make their calling codes into options for the select -->
<script>
  let countryName = "";
  $(document).on("click", ".dropdown-item", function (event) {
    event.preventDefault();
    countryName = $(this).text();
    fetch(`https://restcountries.com/v3.1/translation/${countryName}`)
      .then((response) => response.json())
      .then((data) => {
        let flagButton = $("#flag");
        let flagSVG = data[0].flags.svg;

        let img = $("<img>").attr("src", flagSVG);
        img.attr("alt", countryName);
        img.attr("width", 25);
        flagButton.html(img);

        for (let i = 0; i < data[0].idd.suffixes.length; i++) {
          let callingCode = data[0].idd.root + data[0].idd.suffixes[i];

          if (i === 0) {
            $("#callingCode").html(
              `<option selected value= '${callingCode}'>${callingCode}</option>`
            );
          } else {
            $("#callingCode").append(
              `<option value= '${callingCode}'>${callingCode}</option>`
            );
          }
        }

        $("#callingCode").attr(
          "value",
          data[0].idd.root + data[0].idd.suffixes[0]
        );
      })
      .catch((error) => console.error("Error:", error));
  });
</script>

<!-- Move to following or previous part of form -->
<script>
  document.addEventListener("DOMContentLoaded", function () {
    document
      .getElementById("continue-btn")
      .addEventListener("click", function (e) {
        let firstFormInputs = $("#first-form").find("input");
        var validityCounter = 0;
        for (let i = 0; i < firstFormInputs.length; i++) {
          validityCounter += firstFormInputs[i].checkValidity() ? 1 : 0;
        }

        if (validityCounter === firstFormInputs.length) {
          e.preventDefault();
          document.getElementById("first-form").classList.add("d-none");
          document.getElementById("second-form").classList.remove("d-none");
        }
      });

    document.getElementById("goBack").addEventListener("click", function (e) {
      document.getElementById("first-form").classList.remove("d-none");
      document.getElementById("second-form").classList.add("d-none");
    });
  });
</script>

<!-- Send data to backend -->
<script>
  document.addEventListener("DOMContentLoaded", function () {
    const csrfToken = "{{ csrf_token }}";
    $("#submitRegistration").on("click", function (e) {
      e.preventDefault();

      let firstFormInputs = $("#first-form").find("input");
      let secondFormInputs = $("#second-form").find("input");
      let formData = { csrfmiddlewaretoken: csrfToken };

      firstFormInputs.each(function (index, element) {
        if ($(element).attr("id") == "registerPhone") {
          formData["registerPhone"] = `${$("#callingCode")
            .find(":selected")
            .val()} ${$(element).val()}`;
        } else {
          formData[$(element).attr("id")] = $(element).val();
        }
      });
      secondFormInputs.each(function (index, element) {
        formData[$(element).attr("id")] = $(element).val();
      });

      console.log(formData);

      $.ajax({
        url: "{% url 'register' %}",
        type: "POST",
        dataType: "json",
        data: formData,
        cache: false,
      }).done(function (response) {
          window.location.href = response.redirect_url;
      });

      return true;
    });
  });
</script>
{% endblock %}
