{% extends "base.html" %}
{% load static %}

{% block body %}

{% if messages %}
    {% for message in messages %}
        <div class=" {% if message.tags %} {{ message.tags }} {% endif %} rounded-0 text-center w-100 mx-auto alert alert-info mb-0">{{ message }}</div>
    {% endfor %}
{% endif %}

<nav class="navbar navbar-expand-lg rounded-5 rounded-top-0 p-0 overflow-hidden bg-body sticky-top" id="navbar">
    <div class="container-fluid pe-0 d-flex">
        <a class="ms-2 align-self-start" href="{% url 'homepage' %}">
            <img src="{% static 'img/logo.svg' %}" alt="TuAlmacen" width="70">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse d-flex" id="navbarNav">
            <ul class="navbar-nav ms-2 fs-6 w-100">
                <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="button" href="#"><span class="me-1"><img src="{% static 'img/grid.svg' %}" alt="categorias" width="15"></span> Categorias</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="button" href="#"><span class="me-1"><img src="{% static 'img/tag.svg' %}" alt="ofertas" width="15"></span> Ofertones</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="button" href="#"><span class="me-1"><img src="{% static 'img/clock.svg' %}" alt="nuevos" width="15"></span> Recien Agregados</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"  href="#"><span class="me-1"><img src="{% static 'img/cart.svg' %}" alt="tus productos" width="20"></span> Tus Productos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><span class="me-1"><img src="{% static 'img/account.svg' %}" alt="cuenta" width="15"></span> Cuenta</a>
                </li>
                <form class="d-flex ms-3" style="width: 30%;" role="search">
                    <input class="form-control me-2 rounded-5 bg-body-tertiary" type="search" placeholder="Buscar" aria-label="Buscar">
                </form>
                {% if user.is_authenticated %}
                    <a href="#">Hola {{ user.username }}</a>
                {% else %}
                    <a class="btn ms-auto border-0" href="{% url 'login' %}">Iniciar Sesión</a>
                {% endif %}
            </ul>
            <div class="btn rounded-0 d-flex justify-content-center align-items-center" style="width: 10%; background-color: green; height: 6rem;">
                <span>
                    <img src="{% static 'img/cart2.svg' %}" alt="carrito">
                </span>
            </div>
        </div>
    </div>
</nav>

<main>
    {% block main %}{% endblock %}
</main>

<footer class="w-100 rounded-5 rounded-bottom-0 mt-5 position-relative" style="height: 100vh; background-color: #2a4560;">
    <div class="container-fluid d-flex">
        <div class="ms-5">
            <img src="{% static 'img/logo_white.svg' %}" alt="TuAlmacen" width="100">
        </div>
        <ul class="list-unstyled text-center" style="position: absolute; left: 50%; transform: translateX(-50%); margin-top: 6%;">
            <li class="m-3 fs-5">
                <a href="" class="a-unstyled"><strong>Como trabajamos en TuAlmacen</strong></a>
            </li>
            <li class="m-3 fs-5">
                <a href="" class="a-unstyled"><strong>Sobre Nosotros</strong></a>
            </li>
            <li class="m-3 fs-5">
                <a href="" class="a-unstyled"><strong>Preguntas Frecuentes</strong></a>
            </li>
            <li class="m-3 fs-5">
                <a href="" class="a-unstyled"><strong>Terminos y Condiciones</strong></a>
            </li>
            <li class="m-3 fs-5 pb-5 border-bottom border-black" style="width: 35vw;">
                <a href="" class="a-unstyled"><strong>Blog</strong></a>
            </li>
            <li class="m-2 h4 text-light">
                <strong>Atención al Cliente</strong>
            </li>
            <li class="text-light">Alguna duda? Contactanos por WhatsApp</li>
            <li class="m-3 text-success h4">
                <strong>(0223) 156 969600</strong> <span class="ms-2"><img src="{% static 'img/whatsapp.svg' %}" alt="WhatsApp" width="30"></span>
            </li>
        </ul>
    </div>

    <div class="justify-content-center d-flex" style="background-color: #23364b; position: absolute; bottom: 0; width: 100%; height: 15%;">
        <div class="rounded rounded-circle border border-info border-5 d-flex justify-content-center align-items-center" style="background-color: #2a4560; height: 13vh; width: 13vh;margin-top: -4vh;">
            <img src="{% static 'img/facebook.svg' %}" alt="Facebook" height="25">
        </div>
        <div class="rounded rounded-circle border border-info border-5 d-flex justify-content-center align-items-center ms-4" style="background-color: #2a4560; height: 13vh; width: 13vh;margin-top: -4vh;">
            <img src="{% static 'img/instagram.svg' %}" alt="Instagram" width="25">
        </div>
    </div>
</footer>

{% endblock %}

{% block javascript %}

    {% block moreJS %}{% endblock %}
{% endblock %}